# directories not to track
/data/
outputs/
models/
llm_chess/

# games
tw_games

# Datasets (too large to upload to git)
generated_data/
uploaded_data/
cleaned_data/
textworld_synthetic/
train_data/
sequential_decision_processors/data/textworld
sequential_decision_processors/data/rejection_sampling

# Various information
token_stats/

# local uv dirs to ignore
.venv/
remote.txt
llamafactory.egg-info/

# local dirs to ignore
archive/
local_helper/

# Jupyter notebook specific files
.virtual_documents/
.ipynb_checkpoints/
__pycache__/

# Because of the Mac
.DS_Store